*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    background-image: linear-gradient(30deg, lightgrey 15%, lightgrey 20%, rgb(115, 170, 167) 35%,lightseagreen 60%);
}
.container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-template-areas: "nav nav"
                         "main aside";
    font-family: 'Noto Sans Mono', monospace;
}
#nav{
    display: flex;
    justify-content: space-between;
    grid-area: nav;
}
#logo{
    display: flex;
    align-items: center;
}
#logo a{
    color: white;
    text-decoration: none;    
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
    padding: 10px;
    border: 0 solid black;
    border-radius: 10px;
    background-color: rgb(71, 185, 179);
}
#logo a:hover{
    background-color: lightseagreen;
}
#menu{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#menu a{
    color: rgb(245, 241, 241);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px 0 15px;
}
#menu a:hover{
    border-bottom: 3px solid white;
    color: rgb(249, 252, 255);
}
#main{
    grid-area: main;
    margin: 30px 10px 30px 10px;
}
#artigo{
    margin: 120px 10px 10px 10px;
}
#artigo p{
    font-size: 16px;
    color: rgb(80, 83, 85);
}
#artigo h2{
    font-size: 26px;
    color: rgb(61, 66, 72)
}
#artigo h3{
    font-size: 22px;
    color: rgb(41, 171, 165);
}
#artigo span{
    font-size: 18px;
    color: rgb(54, 55, 56);
}
#icon {
    display: flex;
    justify-content: start;
    margin: 25px 10px 0 10px;
}
#icon img{
    margin: 5px 10px 5px 5px;
    width: 30px;
    height: 30px;
}
#icon img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#aside{
    grid-area: aside;
    border: 3px solid black;
    margin: 30px 10px 30px 10px;
    background-color: lightseagreen;
}
#img {
    height: 630px;
    margin: 30px 10px 0 10px;
}
#img img{
    height: 590px;
    margin: 40px 5px 0 5px;
}